### Общие настройки ###

# Данные
*.mat
*.pgc
*.ana
*.anp

# Кэш
**/__pycache__
**/slprj
*.pyc
*.slxc

# Проекты
**/.spyproject
*.sublime-project
*.sublime-workspace

# Бэкапы и дистрибутивы
**/*.build
**/*.dist

# LaTeX
*.log
*.aux
*.toc
*.out
*.synctex.gz
*.synctex(busy)

# Медиа
*.mp4

### Частные настройки ###

# ---
